{% extends 'home/index.html.twig' %}

{% block title %}Category index{% endblock %}

{% block bodyhome %}
<div class="container">

    <h1 style="text-align:center;">Categories</h1>

    <br>

    <div class="row">
            {% for category in categories %}

  <div class="col-2 " style="text-align:center;" >
  <a href="/article/articles/{{category.id}}">
                  <img src="{{ asset('categoryimg/2.png' ) }}" height="150px" height="150px" style="border-radius:100%;"/>
                  <br>
                <h3>{{ category.name }}</h3>
</a>
  </div>
            {% endfor %}
            
</div>
{# 
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>designation</th>
                <th>Description</th>
                <th>Image</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.designation }}</td>
                <td>{{ category.description }}</td>
                <td>
                <img src="{{ asset('categoryimg/2.png' ) }}"/>
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('category_show', {'id': category.id}) }}">show</a>
                    <a class="btn btn-success" href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    </div>

{% endblock %}
